http://feeds.wnyc.org/radiolab?format=xml RadioLab
http://www.writingexcuses.com/feed/podcast/ WritingExcuses
http://www.feartheboot.com/ftb/index.php/feed FearTheBoot
http://feeds.feedburner.com/dailydose DailyDose
